@model IEnumerable<Backoffice.Models.StrategyModel>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>STRATEGIES</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.OptimalPeriodName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.NumberOfCandles)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsEnabled)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.OptimalPeriodName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.NumberOfCandles)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IsEnabled)
				</td>
				<td>
					@Html.ActionLink(item.IsEnabled ? "Disable" : "Enable", "Enable", new { id = item.Id })
				</td>
			</tr>
		}
	</tbody>
</table>
