@model IEnumerable<Backoffice.Models.ExchangeConfigModel>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>EXCHANGES</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ExchangeName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ApiKey)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ApiSecret)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsEnabled)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ExchangeName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ApiKey)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ApiSecret)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IsEnabled)
				</td>
				<td>
					@Html.ActionLink(item.IsEnabled ? "Enable" : "Disable", "Exchange", new { id = item.Id }) |
					@Html.ActionLink("Edit", "Edit", new { id = item.ExchangeCodeId }) |
					@Html.ActionLink("All Pairs", "AssignedPairs", "Pairs", new { id = item.ExchangeCodeId })
				</td>
			</tr>
		}
	</tbody>
</table>
